@keyframes mask-move {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(280px);
 }
}
@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(-280px);
 }
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  padding: 10%;
  background:#000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
 .focus {
  font-size: 5rem;
  text-transform: uppercase;
  color: #1DA1F2;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  left: 17%;
  width: 280px;
}
 .focus:before {
  content: 'matter';
  filter: blur(3px);
}
.focus:after {
  content: '';
  position: absolute;
  width: 50px;
  height: calc(100% + 8px);
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  animation: mask-move 1s linear infinite alternate;
}
.focus--mask {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  background:#000000;
  animation: mask-move 1s linear infinite alternate;
}
.focus--mask-inner {
  animation: mask-inner-move 1s linear infinite alternate;
}

.pretext {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2rem;
    line-height: 1;
    position: relative;
    width: 575px;
}